$powder: #FFFCF9
$pink: #FF6978

@mixin heading($size: 1.5rem, $weight:600)
    font-size: $size
    font-weight: $weight

@mixin text($size: 1.25rem, $weight: 400)
    font-size: $size
    font-weight: $weight

.aboutContainer
    h2
        @include heading
    div
        display: flex
        justify-content: space-between
        margin-top: 20px
        p
            @include text
            line-height: 2rem
            width: 45%
            min-width: 260px

@media screen and (max-width: 1024px) 
    .aboutContainer
        div
            flex-direction: column
            p
                width: 100%
                margin-bottom: 2rem
                &:last-child
                    margin-bottom: 0

@media screen and (max-width: 768px) 
    .aboutContainer
        h2
            font-weight: 400
        div
            p
                @include text($size: 1.125rem)
                line-height: 1.8rem

            
