.aboutContainer
    h2
        font-size: 2rem
    div
        display: flex
        justify-content: space-between
        margin-top: 20px
        p
            font-size: 1.25rem
            line-height: 2rem
            width: 450px
            
