.headerContainer
    display: flex
    justify-content: space-between
    align-items: center
    height: 16vh

    nav
        font-size: 2rem
        font-weight: 600
        width: 36vw
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        
        a
            color: #FFFCF9
            
            :hover
                color:#FF6978

.spotiful
    position: relative
    top: 5px
    height: 45px
    width: auto