.loginContainer 
    margin: 15vh 0
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

    header
        margin-bottom: 10vh
        display: flex
        flex-direction: column
        align-items: center

        .spotiful
            margin-bottom: 4vh
            background-size: cover
            width: 450px
            height: auto
        h1
            font-size: 2rem
            font-weight: 400
            margin-bottom: 3vh
        p
            font-size: 1.25rem
            line-height: 2rem

    div a
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: wrap
        color: #FFFCF9
        
        :hover
            text-decoration: underline

        .spotify
            margin-right: 15px
            width: 45px
            height: auto
        span
            font-size: 1.25rem

