$powder: #FFFCF9
$pink: #FF6978

@mixin heading($size: 1.5rem, $weight:600)
    font-size: $size
    font-weight: $weight

@mixin text($size: 1.25rem, $weight: 400)
    font-size: $size
    font-weight: $weight

.playlistContainer
    display: flex
    flex-direction: column
    width: 45%
    min-width: 260px
    h3
        @include heading($weight: 400)
        margin: 20px 0 30px 0
    form
        display: flex
        flex-direction: column
        margin-bottom: 40px
        div
            margin-bottom: 20px
            display: flex
            flex-wrap: nowrap
            .textLabel, span
                width: 100%
                font-size: 1.25rem
                font-weight: 600
                display: flex
                flex-wrap: nowrap
                align-items: center
                input
                    width: 100%
                    height: 40px
                    border: 1px solid $pink
                    border-radius: 10px
                    vertical-align: middle
                    padding: 0 6px 2px 6px
                    margin-left: 20px
                    @include text
                label
                    padding-left: 17%
                    display: flex
                    flex-wrap: nowrap
                    align-items: center
                    @include text
                    .radioDefault
                        position: absolute
                        width: 1px
                        height: 1px
                        overflow: hidden
                        clip: rect(0,0,0,0)
                    .radioCustom
                        position: absolute
                        width: 20px
                        height: 20px
                        border: 1px solid $pink
                        border-radius: 10px
                        margin-left: -26px
                    .radioDefault:checked + .radioCustom::before
                        content: ""
                        width: 10px
                        height: 10px
                        border-radius: 5px
                        background-color: $pink
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
        .saveButton
            width: 100%
            height: 40px
            border: 1px solid $pink
            border-radius: 10px
            padding-bottom: 1px
            @include text($weight: 600)
            &:hover
                background-color: $pink

@media screen and (max-width: 768px) 
    .playlistContainer
        width: 100%
        margin-top: 20px

            
