body
    font-family: 'Segoe UI', Inter, Arial, sans-serif
    font-size: 16px
    background-color: #413052
    color: #FFFCF9
    margin: 0 15vw

@media screen and (max-width: 1024px) 
    body
        margin: 0 5vw